<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Analog_Clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Analog_Clock.Properties.Settings>
            <setting name="frmMainPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMainBGColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="frmMainColorSecondHand" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="frmMainColorMinuteHand" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmMainColorHourHand" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="frmMainShowDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMainColorFigure" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmMainColorDate" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmMainImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainShowImage" serializeAs="String">
                <value>False</value>
            </setting>
        </Analog_Clock.Properties.Settings>
    </userSettings>
</configuration>